<div appScrollReveal class="project-card rounded-xl border border-ink-800 bg-ink-900/60">
    <div class="h-40 rounded-lg bg-linear-to-br from-mxpink-500/20 to-mxviolet-500/20 flex items-center justify-center mb-1">
        <span class="text-5xl">🖥️</span>
    </div>

    <div class="p-6">
        <h3 class="text-xl font-semibold text-neutral-100">{{ name() }}</h3>
        <p class="text-neutral-400 mt-2 text-sm">{{ description() }}</p>
        <div class="flex flex-wrap gap-2 mt-4">
            @for (tech of technologies(); track tech) {
                <span class="text-xs px-2 py-1 rounded-full text-nowrap {{ getTechColor(tech) }}">{{ tech }}</span>
            } @empty {
                <span>There are no items</span>
            }
        </div>

        <a href="/projects/{{ id() }}" class="text-mxpink-400 hover:text-mxpink-300 text-sm font-medium mt-6 inline-block">View More</a>
    </div>

</div>